/* 声明字体图标，，这里要注意路径的变化 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


.w {
    width: 1200px;
    margin: 0 auto;
}

i {
    float: left;
    width: 8px;
    height: 8px;
    line-height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 3px;

}

/* 快捷导航栏部分开始 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.style_red {
    color: #c81623;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 15px 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.arrow-icon::after {
    content: "\e91e";
    font-family: "icomoon";

}


/* 快捷导航栏部分结束 */


/*  header头部模块start */
.header {
    position: relative;
    height: 106px;

}

.logo {
    position: absolute;
    top: 27px;
    left: 0;
    width: 175px;
    height: 55px;
}

.logo a {
    display: block;
    width: 175px;
    height: 55px;
    font-size: 0;
    background: url(../image/logo.png) no-repeat;
}

.search {
    position: absolute;
    top: 27px;
    left: 347px;
    width: 538px;
    height: 37px;
    background-color: red;
    border: 2px solid #b1191a;

}

.hotwords {
    position: absolute;
    top: 70px;
    left: 358px;
    width: 520px;
    height: 15px;

}

.shopcar {

    position: absolute;
    top: 27px;
    right: 65px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    line-height: 35px;
    text-align: center;
    background-color: #f7f7f7;

}

.shopcar::before {
    font-family: 'icomoon';
    content: '\e93a';
    margin-right: 5px;
    color: #b1191a;
}

.shopcar::after {
    font-family: 'icomoon';
    content: '\e920';
    margin-left: 10px;
}

.search input {
    width: 450px;
    height: 33px;
    padding-left: 10px;
    font-size: 14px;
    color: #666666;

}

.search button {
    float: right;
    width: 83px;
    height: 35px;
    border: 0;
    background-image: url(../image/ser-bg.png);

}

.hotwords a {
    float: left;
    font-size: 12px;
    color: #666666;
    margin-right: 25px;
}

.hotwords a:hover {
    color: #b1191a;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    color: #fff;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;



}


/* header头部模块end  */

/* 导航栏部分开始 */
.nav {
    margin-top: 24px;
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    float: left;
    width: 209px;
    height: 45px;
    background-color: #b1191a;

    margin-right: 10px;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
}

.dropdown .dd {
    /* display: none; */
    width: 209px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;


}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover {
    background-color: #fff;

}

.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    color: #fff;
    font-family: 'icomoon';
    content: '\e920';
    font-size: 14px;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.navitems {
    float: left;
    width: 780px;
    height: 45px;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    font-size: 16px;
    color: #333333;
    line-height: 45px;
    padding: 0 25px;
}

.navitems a:hover {
    color: #b1191a;
}

/* 导航栏部分结束 */

/* 底部模块开始 */
.footer {
    padding-top: 30px;
    height: 415px;
    background-color: #f5f5f5;

}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #cccccc;
}

.mod_service ul li {
    float: left;
    padding-left: 35px;
    width: 240px;
    height: 50px;

}

.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.service-img01 {
    background: url(../image/icons.png) no-repeat -252px -2px;

}

.service-img02 {
    background: url(../image/icons.png) no-repeat -255px -53px;

}

.service-img03 {
    background: url(../image/icons.png) no-repeat -256px -105px;

}

.service-img04 {
    background: url(../image/icons.png) no-repeat -258px -157px;

}

.service-img05 {
    background: url(../image/icons.png) no-repeat -255px -208px;

}

.service_txt h4 {
    font-size: 14px;
}

.service_txt p {
    font-size: 12px;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #cccccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod_help dl {
    float: left;
    width: 190px;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_help dl:last-child {
    text-align: center;
    width: 90px;
}

.mod_copyright {
    text-align: center;
    margin-top: 20px;
}

.links {
    margin-bottom: 15px;

}

.links a {
    padding: 0 6px;
}

.copyright {
    line-height: 20px;
}


/* 底部模块结束 */