*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

/*页面的头部*/

.top{
  width: 100%;
  height: 50px;
  background-color: rgb(220,220,220);
}
.topContent{
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}
.topContent li{
  font-size: 12;
  float: right;
  line-height: 50px;
  margin-left: 10px;
}
.topContent a{
color: slategray;
  text-decoration: none;
}
.topContent a:hover{
color: crimson; 
}

/*页面的wrap部分*/
.wrap{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  height: 100px;
}
.logoleft{
  width: 200px;
  float:left;
}
.logoright{
  width: 300px;
  float: right;
  margin-top: 30px;
}
.logoright image{
vertical-align: middle;
margin-right: 10px;
}
.tel{
  font-family: "微软雅黑";
  font-size: 20px;
  color: red;
}
/*页面的nav部分*/
.nav{
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  background-color: #272727;
}
.nav_middle{
  width: 980px;
  float: left;
}
.nav_left,.nav_right{
width: 10px;
height: 40px;
float:left;
}
.nav_middle_left{
  width: 680px;

}
.nav_middle_right{
  width: 300px;
 
}
.nav_middle_left li{
  float: left;
  line-height: 40px;
  text-align: center;
  list-style: none;
  width: 100px;
}
.nav_middle_left a:link,
.nav_middle_left a:visited{
  color: aliceblue;
  text-decoration: none;
  font-size: 16px;
}
.nav_middle_left a:hover,
.nav_middle_left a:active {
  color: red;
  text-decoration: none;
  font-size: 16px;
}
.nav_text{
  float:right;
  width: 290px;
  height: 25px;
  margin-top: 5px;
  background: url(../image/tel.png) no-repeat right center;
  background-color: #fff;
  padding-right: 15px;
}
#box{
  width: 1000px;
  margin: 0 auto;
  height: 318px;
  overflow: hidden;/*设置不溢出*/
  position: relative;/*父级元素设置为相对定位*/
}
.menu{
  width: 500%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.menu ul li{
float: left;

}
.pave-ul{
  width: 170px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  left: 430px;
}
.pave-ul ul{
position: absolute;
}
.pave-ul ul li {
  opacity: 0.5;
width: 20px;
height:20px;
border: 1px solid;
float: left;
cursor: pointer;
margin: 0px 2px;
border-radius:100%;
background: #ccc;
}
.pave-ul ul li:hover
{
   opacity: 1;
background: #272727;
}
.pave-ul ul li.act {
 opacity: 1;
  background: #272727;
}

/*信息展示区main*/
.main{
  width: 1000px;
  height: 350px;
  
  margin: 0 auto;

}
.news{
  width: 340px;
  height: 350px;
  float: left;
  margin-left: 1px;
  
}
.course{
  width: 410px;
   height: 350px;
   float: left;
   margin: 0 7px;
  
  
}
.sidebar{
  width:230px ;
   height: 350px;
   float: left;
 
}
.title{
  height: 35px;
  border-bottom: 2px solid #e8e8e8;
}
.title_left{
  width: 70%;
  font-size: 14px;
  font-family: "微软雅黑";
  font-weight: bold;
  float: left;
  line-height: 35px;
  padding-left: 20px;
}
.title_right{
width: 20%;
float: right;
line-height: 35px;
}
.pic_news,.course_pic{
  height: 100px;
  margin-top: 10px;
  
}
.pic_news img,.course_pic img{
  float: left;
  margin: 0 5px;
}
.pic_news a,.course_pic a{
  color: #C00;
  text-decoration: none;
}
.newslist{
  margin-top: 20px;
}
.newslist li{
  background: url("../image/tel.png") no-repeat;
  padding-left: 10px;
  margin: 8px;
  border-bottom: 1px dotted #ccc;
}
.newslist li a:hover{
color: #C00;
}
.course_pic{
  height: 175px;
  margin-top: 10px;
  line-height: 30px;
}
.course_type{
  height: 37px;
  width: 412px;
  margin: 30px auto;
 
}
.course_type li{
  list-style: none;
float: left;
width: 75px;
text-align: center;
line-height: 37px;
margin: 0 10px; 
}
.course_type li a{
  text-decoration: none;

}
.course_type li a:hover,
.course_type li a:active{
  text-decoration: none;
  color: #C00;
}

.copyright{
  width: 100%;
  height: 200px;
  background-color: #e8e8e8;
  margin-top: 10px;
}
.copy_content{
  width: 1000px;
  margin: 0 auto;
}
.copy_content li{
  list-style: none;
  float: left;
  width: 250px;
  line-height: 30px;
  text-align: center;
  font-family: "微软雅黑";
}
.copy_content a{
  text-decoration: none;
  color: #999;
  font-size: 18px;
}
.copy_content li ul li a{
  font-size: 14px;
}
  





